*.[ao]
*.so*
*.dll

config.h
libserialport_export.h
libserialport_version.h
libserialport.pc
serialportConfig.cmake
serialportConfigVersion.cmake
libserialport-*.tar.gz
unittest*

CMakeCache.txt
CMakeFiles/
CPack*
_CPack*
CTest*
Testing/
cmake_install.cmake
DartConfiguration.tcl
install_manifest.txt
Makefile

CMakeDoxyfile*
CMakeDoxygenDefaults.cmake
Doxyfile
doxy/

.vs/
Debug/
Release/
MinSizeRel/
RelWithDebInfo/
Win32/
x64/
*.vcxproj*
*.sln

example_*
